*.png
# Go binaries
open-objects
recycle
*.exe
*.exe~
*.dll
*.so
*.dylib

# Database files
*.db
*.sqlite
*.sqlite3
*.db.backup

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work